.example-container {
  width: auto;
  height: auto;
  min-height: 200px;
  margin: 10px;
  background: #eb8d8d;
}
.attivo{
  background-color: azure;
  color: blue;
}

.example-spacer {
  flex: 1 1 auto;
}
